%h1{class: 'text-center'}= "WEIGH-IN #{@league.name}"
%h2{class: 'text-center'}= "for #{ @event.name }"

= render "people/leaderboard", people: @league.people.on_event(@event)

= link_to('GLOBAL LEADERBOARD', people_path, class: 'btn btn-default')
= link_to('LEAGUES', leagues_path, class: 'btn btn-default')
= link_to('OTHER EVENTS', events_path, class: 'btn btn-default')
%br
%br
%br
%br
%br
= link_to('CHECK IN', new_checkin_path, class: 'btn btn-default btn-block navbar navbar-fixed-bottom button-link') unless ENV['QUIET_MODE']
